/* .App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
VIEJO
*/

::-webkit-scrollbar{
  width: 0;
}

@font-face {
  font-family: 'SigmarOne-Regular';
  src: url(' ../../../public/assets/fonts/sigma/SigmarOne-Regular.ttf') format('truetype');
  
}

body {
  margin: 0;
  margin-right: 0.5px;
  padding: 0;
  /* background: #9b0f05e3; */
  /* background: #610903e3; */
  background: #23a1d3;
  color: #1E1E1F;
  font-family: 'sigmarOne-Regular', Arial, sans-serif ;
}

#root{
  position: relative;
  min-height: 100vh;
}

