/* CSS Styles */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-direction: row;
  font-family: "InterVariable", sans-serif;
}

canvas {
  touch-action: none;
}

.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.time {
  position: absolute;
  top: 20px;
  left: 40px;
  width: 200px;
  color: #ffffff;
  font-size: 70px;
  background-color: #00000033;
  padding: 10px 20px;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffffff;
}

.cta {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
  color: #ffffff;
  font-size: 70px;
  background-color: #00000033;
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
  transition: linear 0.2s;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffffff;
  text-align: center;
}

.cta:hover {
  color: #000000;
  box-shadow: inset 0 -100px 0 0 #ffffff;
}

.controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #ffffff44;
  text-align: center;
}

.controls .key.large {
  width: 144px;
  margin-bottom: 0;
}

.controls .key.shift {
  width: 120px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 24px;
}

.controls .key.active {
  background: #ffffff99;
}

.misc-controls {
  display: grid;
  gap: 16px;
  position: absolute;
  bottom: 10%;
  right: 40px;
}

.misc-control {
  display: flex;
  gap: 16px;
  color: #ffffff;
  font-size: 24px;
}

.misc-controls .misc-controls.active {
  background: #ffffff99;
}

.audio-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 64px;
  height: 64px;
  color: #ffffff;
  background-color: #00000033;
  border: none;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 8px;
}

.checkpoint-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (min-width: 2048px) {
  .time {
    left: 20vw;
  }

  .audio-toggle, .misc-controls {
    right: 20vw;
  }
}

.interface .notification {
  position: absolute;
  top: 100px;
  right: 35px;
  background-color: #4caf50;
  color: #ffffff;
  padding: 30px 30px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0.9;
  transition: opacity 4s ease-in-out;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px; /* Adjust width as needed */
}

.interface .notification.hidden {
  opacity: 0;
}

.interface .load-checkpoint {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #f39c12;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.interface .load-checkpoint:hover {
  background-color: #e67e22;
}

.hud {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.lives {
  display: flex;
}

.lives img {
  width: 100px;
  height: 40px;
  margin-right: 10px;
}

.timer {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}

.lives span {
  font-size: 40px;
  margin-right: 10px;
}
